.one_div{
	width: 500px;
	height: 300px;
	margin: 0 auto;
	
	margin-top: 50px;
}
ul li{
	list-style: none;
}
/*横线*/
ul li:nth-child(2){
	margin-left: -70px;
}
ul li:nth-child(3){
	font-size: 17px;
	color: #A9A9A9;
	line-height: 30px;
}
/*建议框*/
ul li:nth-child(4){
	
}
/*联系方式*/
ul li:nth-child(5){
	margin-top: 20px;
}
ul li:nth-child(5) span{
	font-size: 18px;
	color: #A9A9A9;
}
ul li:nth-child(6){
	margin-top: 20px;
}
ul li:nth-child(6) input{
	margin-left: 100px;
	width: 100px;
	height: 30px;
}
