.stid{
	display:none;
}
.headline{
	background:linear-gradient(to bottom,#f7c721,#fbeec2) ;
	height: 50px;
	width: 100%;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
.headline a{
	color: #6fb6d3;
	
}
.headline p{
	margin-left: 50px;
	float: left;
	margin-top: 15px;
	font-size: 15px;
	color: #a2947a;
}
.headline dd{
	list-style: none;
	font-size: 16px;
}
.headline table{
	height:50px;
	color: #a2947a;
	float: left;
	
	margin-left: 100px;
	font-size: 15px;
	
}
.welcom{
	color:red;
	font-size:20px;
}
.headline table td:nth-child(1){
	
	width:150px
}
.headline table td:nth-child(2){
	
	width:70px
}
dl{
	float: left;
	margin-top: 15px;
}

.personalCenter{
	cursor:default;
	color: #a2947a;
	position: absolute;	
	margin-left: 820px;
}
.personalCenter dt{
	cursor:default;
	margin-left: 38px;
	font-size:16px ;
}
.personalCenter dd{
	cursor:default;
	display: none;
}
.merchant{
	cursor:default;
	color: #a2947a;
	position: absolute;	
	margin-left: 900px;
}
.merchant dt{
	cursor:default;
	margin-left: 38px;
	font-size:16px ;
}
.merchant dd{
	cursor:default;
	display: none;
}
.complain{
	position: absolute;	
	float: left;
	margin-left: 570px;
	margin-top: 16px;
	font-size:16px ;
}
.service{
	
	position: absolute;	
	float: left;
	margin-left: 650px;
	margin-top: 16px;
	font-size:16px ;
}
/*地址*/
.location{
	position: absolute;
	font-size:15px;
	margin-top:50px;
	margin-left: 50px;
}
.location span:nth-child(1){
	color: darkgray;
}
.location span:nth-child(2){
	color: #A2947A;
}
/*搜索框*/
.search{
	
	width: 1250px;
	height: 50px;
	margin-top: 50px;
	position: absolute;
	/*margin-left: 200px;*/
}
.o_search{
	float: left;
	height: 30px;
	width: 240px;
	border: 1px solid #f7c049;
	margin-left: 1000px;
	
}

.search img{
	margin-left: -42px;
	height: 30px;
	margin-top: 2px;
}
#num{
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color:#f9cd82 ;
	margin-left:-15px ;
	margin-top: -4px;
	color: red;
	text-align: center;
	font-size: 20px;
}
/*横线*/
.hr{
	background: #F7C049;
	width: 1300px;
	height: 2px;
	margin-top: 130px;
}
/*活动栏*/
.activity{
	width:600px;
	height: 250px;
	position:absolute;
	margin-top: 5px;
	margin-left: 400px;
	overflow: hidden;
}
.activity img{
	width: 600px;
	height: 250px;
}
.activity table{
	border-collapse:collapse;
	margin-top:-1px ;
	margin-left:-1px ;
}
.button{
	width: 30px;
	height: 60px;
	margin-top: -170px;
	position: absolute;
	font-size: 40px;
	background: #A2947A;
	opacity: 0.7;
	color: #F9CD82;
}
.activity_left{
	cursor:default;
	margin-left: 15px;
}
.activity_right{
	cursor:default;
	margin-left: 550px;
}
.two_photo{
	margin-top: 60px;
	margin-left: 1100px;
}
.two_photo img{
	width: 150px;
	height: 150px;
}
.two_photo span{
	margin-left: 30px;
}
/*菜单栏*/
.commodity_class{
	width: 320px;
	height:286px;
	border-right: 1px dashed black;
	margin-top: -244px;
	margin-left: 16px;
	background: #f7c721;
	opacity: 0.5;
	font-size:17px ;
}
.com_table{
	margin-left:60px ;
	
}
.com_table td{
	width: 100px;
	height: 50px;
}
.com_table span:hover{
	cursor: default;
	color:red;
}
.store_iframe{
	margin-left:5%;
	width: 90%;
	height: 1020px;
	margin-top: 50px;
	/*border: 1px solid #A9A9A9;*/
	
}
.finally_hr{
	margin-top: 50px;
	width: 98%;
	background: #F7C049;
	opacity: 0.6;
}
.finally{
	width: 100%;
	height: 300px;
	font-size: 15px;
}
.finally table{
	margin-top: 20px;
	margin-left:100px ;
}
.finally th{
	opacity: 0.6;
}
.finally td:hover{
	color: #F9CD82;
}
.finally td{
	text-align: center;
	width: 250px;
	color: #A2947A;
	height: 30px;
}
.finally img{
	width: 20px;
	height: 20px;
}

/*商店信息*/
.all_store{
	width:90%;
	margin-top: 30px;
	margin-left: 5%;
	
}
.all_store td{
	cursor:default;
	width: 25%;
	height: 160px;
}
.all_store td:hover{
	background: #f6f3ef;
}
.all_store img{
	width: 90px;
	height: 90px;
	margin-top: -30px;
	margin-left: 20px;
}
.all_store div{
	line-height: 32px;
	font-size: 15px;
	position: absolute;
	margin-top: -100px;
	margin-left: 130px;
	color: #A2947A;
}
.star{
	color: #F7C721;
}
.store_name{
	color: black;
	font-weight: bold;
}
.all_store span:nth-child(1){
	font-size: 18px;
}
.time{
	font-size: 15px;
	position: absolute;
	margin-top: 70px;
	margin-left: -60px;
	color: #A2947A;
}






